@font-face {
    font-family: Montserrat;
    src: url(~@/assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'fa-reg';
    src: url(~@/assets/fonts/font-awesome/fa-regular-400.ttf);
}
